.book-detail {
    height: 800px;
    background-color: #f5f5fa;
    width: 100%;

    .image-gallery-wrapper {
        height: 700px;
        background-color: white;
        margin-top: 50px;

        .image-gallery {
            width: 80%;
            margin: 0 auto;
            padding-top: 35px;
        }

        .image-gallery-slide img {
            object-fit: cover;
            overflow: hidden;
            object-position: center center;
        }
    }

    .detail-book {
        background-color: white;
        // margin-right: 100px;
        height: 680px;
        margin-top: 50px;
        margin-left: 5px;
        padding-left: 20px;
        padding-top: 20px;
    }

}